name: Publish

on:
    push:
    pull_request:
        types: [opened]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: npm install
            - run: npm test
